aiohttp==3.8.1
aiohttp-cors==0.7.0
aiosignal==1.2.0
async-timeout==4.0.2
attrs==21.2.0
bidict==0.21.4
bleach==4.1.0
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.9
click==8.0.3
colorama==0.4.4
cryptography==36.0.1
eventlet==0.33.0
Flask==2.0.2
Flask-Classful==0.14.2
Flask-Cors==3.0.10
Flask-SocketIO==5.1.1
frozenlist==1.2.0
gevent==21.12.0
gunicorn==20.1.0
idna==3.3
importlib-metadata==4.10.0
itsdangerous==2.0.1
jeepney==0.7.1
keyring==23.4.0
multidict==5.2.0
netifaces==0.10.6
packaging==21.3
pkginfo==1.8.2
pycparser==2.21
Pygments==2.10.0
pyparsing==3.0.6
python-engineio==4.3.0
python-socketio==5.5.0
readme-renderer==32.0
requests==2.26.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
SecretStorage==3.3.1
six==1.16.0
socketio==0.2.1
tqdm==4.62.3
twine==3.7.1
typing_extensions==4.0.1
urllib3==1.26.7
webencodings==0.5.1
Werkzeug==2.0.2
yarl==1.7.2
zipp==3.6.0
